{% extends "base.html" %}

{% block content %}
    <h2>Length Converter</h2>

    <form method="POST">
        <input type="number" name="value" placeholder="Enter value" required />
        <p class='label'>Unit to convert from</p>
        <select name="from_unit" required>
            {% for unit in units %}
            <option value="{{ unit.name }}">{{ unit.label }}</option>
            {% endfor %}
        </select>
        <p class='label'>Unit to convert to</p>
        <select name="to_unit" required>
            {% for unit in units %}
            <option value="{{ unit.name }}">{{ unit.label }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn-submit">Convert</button>
    </form>

    <h4 class="result-header">Result:</h4>
    <p class="result">{% if result %}{{result}}{% endif %}</p>
{% endblock %}